<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <experius_donation_product>
            <general>
                <minimal_amount>1</minimal_amount>
            </general>
            <charities>
                <api_url>https://raw.githubusercontent.com/experius/Experius-DonationFeed/master</api_url>
            </charities>
        </experius_donation_product>
    </default>
</config>