<?xml version="1.0" ?>
<!--
/**
 * Copyright © Experius. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <experius_donation_product>
            <general>
                <enabled>1</enabled>
                <minimal_amount>1</minimal_amount>
                <maximal_amount>10000</maximal_amount>
                <fixed_amounts>5,10,15,25,50</fixed_amounts>
            </general>
            <layout>
                <sidebar_enabled>1</sidebar_enabled>
                <sidebar_product_limit>4</sidebar_product_limit>
                <homepage_enabled>1</homepage_enabled>
                <homepage_product_limit>4</homepage_product_limit>
                <cart_enabled>1</cart_enabled>
                <cart_product_limit>4</cart_product_limit>
                <checkout_enabled>1</checkout_enabled>
                <checkout_product_limit>4</checkout_product_limit>
                <checkout_sidebar_enabled>1</checkout_sidebar_enabled>
                <checkout_sidebar_product_limit>4</checkout_sidebar_product_limit>
            </layout>
        </experius_donation_product>
    </default>
</config>