<?xml version="1.0" ?>
<!--
/**
 * Copyright © Experius. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<preference for="Experius\DonationProduct\Api\DonationsRepositoryInterface" type="Experius\DonationProduct\Model\DonationsRepository"/>
	<preference for="Experius\DonationProduct\Api\Data\DonationsInterface" type="Experius\DonationProduct\Model\Donations"/>
	<preference for="Experius\DonationProduct\Api\Data\DonationsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Experius\DonationProduct\Api\Data\DonationOptionsInterface" type="Experius\DonationProduct\Model\DonationOptions"/>

	<type name="Magento\Catalog\Helper\Product\Configuration">
		<plugin disabled="false" name="Experius_DonationProduct_Plugin_Magento_Catalog_Helper_Product_Configuration" sortOrder="0" type="Experius\DonationProduct\Plugin\Magento\Catalog\Helper\Product\Configuration"/>
	</type>
	<type name="Magento\Checkout\Block\Cart\Item\Renderer">
		<plugin disabled="false" name="Experius_DonationProduct_Plugin_Magento_Checkout_Block_Cart_Item_Renderer" sortOrder="0" type="Experius\DonationProduct\Plugin\Magento\Checkout\Block\Cart\Item\Renderer"/>
	</type>
	<type name="Magento\Catalog\Block\Product\ListProduct">
		<plugin disabled="false" name="Experius_DonationProduct_Plugin_Magento_Catalog_Block_Product_ListProduct" sortOrder="10" type="Experius\DonationProduct\Plugin\Magento\Catalog\Block\Product\ListProduct"/>
	</type>

	<type name="Magento\Quote\Model\Quote\Item\Repository">
		<arguments>
			<argument name="cartItemProcessors" xsi:type="array">
				<item name="donation" xsi:type="object">Experius\DonationProduct\Model\Quote\Item\CartItemProcessor</item>
			</argument>
		</arguments>
	</type>
	
	<virtualType name="Experius\DonationProduct\Model\ResourceModel\Donations\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">experius_donations</argument>
			<argument name="resourceModel" xsi:type="string">Experius\DonationProduct\Model\ResourceModel\Donations\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="experius_donationproduct_donations_grid_data_source" xsi:type="string">Experius\DonationProduct\Model\ResourceModel\Donations\Grid\Collection</item>
			</argument>
		</arguments>
	</type>

	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="SampleDataDeploy" xsi:type="object">Experius\DonationProduct\Console\Command\SampleDataDeploy</item>
			</argument>
		</arguments>
	</type>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="SampleDataRemove" xsi:type="object">Experius\DonationProduct\Console\Command\SampleDataRemove</item>
            </argument>
        </arguments>
    </type>

</config>
