<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="experius_donation_product" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Donation Product</label>
            <tab>catalog</tab>
            <resource>Experius_Donations::config_experius_donations</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="minimal_amount" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                    <label>Minimal Donation Amount</label>
                    <comment/>
                </field>
            </group>
        </section>
    </system>
</config>