<?xml version="1.0" ?>
<!--
/**
 * Copyright © Experius. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="experius_donation_product" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>Donation Product</label>
            <tab>catalog</tab>
            <resource>Experius_Donations::config_experius_donations</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="minimal_amount" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Minimal Donation Amount</label>
                    <comment/>
                </field>
                <field id="maximal_amount" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>Maximal Donation Amount</label>
                    <comment/>
                </field>
                <field id="fixed_amounts" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text">
                    <label>Fixed Donation Amount</label>
                    <comment/>
                </field>
            </group>
            <group id="layout" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Layout</label>
                <field id="sidebar_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sidebar</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="sidebar_product_limit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Sidebar Product Limit</label>
                    <comment/>
                </field>
                <field id="homepage_enabled" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Homepage</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="homepage_product_limit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="60" translate="label" type="text">
                    <label>Homepage Product Limit</label>
                    <comment/>
                </field>
                <field id="cart_enabled" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="cart_product_limit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="110" translate="label" type="text">
                    <label>Cart Product Limit</label>
                    <comment/>
                </field>
                <field id="checkout_enabled" translate="label" type="select" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="checkout_product_limit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="160" translate="label" type="text">
                    <label>Checkout Product Limit</label>
                    <comment/>
                </field>
                <field id="checkout_sidebar_enabled" translate="label" type="select" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Checkout Sidebar</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="checkout_sidebar_product_limit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="180" translate="label" type="text">
                    <label>Checkout Sidebar Product Limit</label>
                    <comment/>
                </field>
            </group>
        </section>
    </system>
</config>